%h3
  -if @star.name and not @star.name==""
    ="#{@star.name} in #{@star.constellation.name}"
  -else
    ="Unnamed Star in #{@star.constellation.name}"
%hr
.row
  .span4
    %p
      %strong
        Name:
      =@star.name
    %p
      %strong
        Right ascension:
      =@star.right_ascension
    %p
      %strong
        Declination:
      =@star.declination
    %p
      %strong
        Apparent magnitude:
      =@star.apparent_magnitude
    %p
      %strong
        Stellar class:
      =@star.stellar_class
  .span8
    PHOTOS
.row
  .span12
    %table.table.table-striped.table-hover
      %caption
        %h4
          List of observations of M
          =@star.name
      %thead
        %tr
          %td 
            %strong User
          %td 
            %strong Name
          %td 
            %strong Date
      %tbody
        -@star.observations.each do |o|
          %tr
            -if o.user.name? 
              %td=o.user.name
            -else
              %td=o.user.email
            %td=link_to o.name, addable_observation_path(o.id)
            %td=o.observation_date
    %hr
      -if current_user
        =link_to "Add observation", new_addable_observation_path(:observable_id=>@star, :observable_type=>@star.class), :class=>'btn'
        #votes=render 'shared/favs'
      =link_to "Back to "+@star.constellation.name, @star.constellation, :class=>'btn'

%hr
.row
  .span12=render 'shared/comments', :commentable=>@star