%h3
  ="M#{@messier.messier_number} in #{@messier.constellation.name}"
%hr
.row
  .span4
    %p
      %strong
        Name:
      ="M#{@messier.messier_number}"
    %p
      %strong
        Number in NGC catalog:
      ="NGC #{@messier.ngc_number}"
    %p
      %strong
        Common name:
      =@messier.common_name
    %p
      %strong
        Object type:
      =@messier.object_type
    %p
      %strong
        Distance in kly from Earth:
      =@messier.distance_kly
    %p
      %strong
        Apparent magnitude:
      =@messier.apparent_magnitude
  .span8
    PHOTOS
.row
  .span12
    %table.table.table-striped.table-hover
      %caption
        %h4
          List of observations of M
          =@messier.messier_number
      %thead
        %tr
          %td 
            %strong User
          %td 
            %strong Name
          %td 
            %strong Date
      %tbody
        -@messier.observations.each do |o|
          %tr
            -if o.user.name? 
              %td=o.user.name
            -else
              %td=o.user.email
            %td=link_to o.name, addable_observation_path(o.id)
            %td=o.observation_date
    %hr
      -if current_user
        =link_to "Add observation", new_addable_observation_path(:observable_id=>@messier, :observable_type=>@messier.class), :class=>'btn'
        #votes=render 'shared/favs'
      =link_to "Back to "+@messier.constellation.name, @messier.constellation, :class=>'btn'

%hr
.row
  .span12=render 'shared/comments', :commentable=>@messier