%h1 
  =@observation.name
  \- observation of
  =@name
%hr

.muted Observed on:
.obs=@observation.observation_date
%br

.muted Description:
.obs
  =raw @observation.description

.muted Equipement used:
.obs=raw @observation.eq_used

.muted Conditions:
.obs=raw @observation.conditions

.muted Photos:
.obs.obs_images
  -@observation.photos.each do |p|
    .obs_img
      =link_to image_tag(p.payload.url(:thumb), :class=>'img-polaroid'), "#p-#{p.id}", :role=>"button", "data-toggle"=>"modal"
      .modal.hide.fade{:id=>"p-#{p.id}", :tabindex=>"-1", :role=>"dialog", "aria-labelledby"=>"p-#{p.id}Label", "aria-hidden"=>"true"}
        .modal-header
          .modal_img
            =image_tag p.payload.url


=link_to "Back to "+@name, @observable, :class=>'btn'

=render 'shared/comments', :commentable=>@observation