%h3
  ="NGC #{@ngc.ngc_number} in #{@ngc.constellation.name}"
%hr
.row
  .span4
    %p
      %strong
        Name:
      ="NGC #{@ngc.ngc_number}"
    %p
      %strong
        Other names:
      =@ngc.names
    %p
      %strong
        Object type:
      =@ngc.object_type
    %p
      %strong
        Right ascension:
      =@ngc.right_ascension
    %p
      %strong
        Declination:
      =@ngc.declination
    %p
      %strong
        Apparent magnitude:
      =@ngc.apparent_magnitude
  .span8
    PHOTOS
.row
  .span12
    %table.table.table-striped.table-hover
      %caption
        %h4
          List of observations of NGC
          =@ngc.ngc_number
      %thead
        %tr
          %td 
            %strong User
          %td 
            %strong Name
          %td 
            %strong Date
      %tbody
        -@ngc.observations.each do |o|
          %tr
            -if o.user.name? 
              %td=o.user.name
            -else
              %td=o.user.email
            %td=link_to o.name, addable_observation_path(o.id)
            %td=o.observation_date
    %hr
      -if current_user
        =link_to "Add observation", new_addable_observation_path(:observable_id=>@ngc, :observable_type=>@ngc.class), :class=>'btn'
      =link_to "Back to "+@ngc.constellation.name, @ngc.constellation, :class=>'btn'

%hr
.row
  .span12=render 'shared/comments', :commentable=>@ngc