.row_fluid 
  .comments
    -if commentable.comments.count == 0
      Sorry, the are no comments!
    -else
      -commentable.comments.each do |c|
        .comment
          .comment-user=c.user.get_name
          .comment-date=c.created_at
          .comment-comment=c.comment
          
  .new-comment
    -if current_user
      =form_for Comment.new do |f|
        =f.label :comment
        =f.text_area :comment, :rows=>3
        = hidden_field_tag :commentable_type, commentable.class
        = hidden_field_tag :commentable_id, commentable.id
        =f.hidden_field :user_id, :value=>current_user.id
        =f.submit "Send!", :class=>'btn'