%h3
  =@solar.name
%hr
.row
  .span4
    %p
      %strong Name:
      =@solar.name
    %p
      %strong Position:
      =@solar.position
    %p
      %strong Size:
      =@solar.size
    %p
      %strong Mass:
      =@solar.mass
    %p
      %strong Distance from sun:
      =@solar.distance
    %p
      %strong Orbital period:
      =@solar.orbital_period
    %p
      %strong Trading period:
      =@solar.trading_period
    %p
      %strong Moons:
      =@solar.moons
    %p
      %strong Object type:
      =@solar.solar_type
  .span8
    .justify
      %p=@solar.info
%hr
.row
PHOTOS