%h3
  =@solar.name
%hr
.row
  .span4
    %p
      %strong Name:
      =@solar.name
    %p
      %strong Position:
      =@solar.position
    %p
      %strong Size:
      =@solar.size
    %p
      %strong Mass:
      =@solar.mass
    %p
      %strong Distance from sun:
      =@solar.distance
    %p
      %strong Orbital period:
      =@solar.orbital_period
    %p
      %strong Trading period:
      =@solar.trading_period
    %p
      %strong Moons:
      =@solar.moons
    %p
      %strong Object type:
      =@solar.solar_type
  .span8
    .justify
      %p=@solar.info
%hr
.row
PHOTOS
.row
  .span12
    %table.table.table-striped.table-hover
      %caption
        %h4
          List of observations of
          =@solar.name
      %thead
        %tr
          %td 
            %strong User
          %td 
            %strong Name
          %td 
            %strong Date
      %tbody
        -@solar.observations.each do |o|
          %tr
            -if o.user.name? 
              %td=o.user.name
            -else
              %td=o.user.email
            %td=link_to o.name, addable_observation_path(o.id)
            %td=o.observation_date
    %hr
      -if current_user
        =link_to "Add observation", new_addable_observation_path(:observable_id=>@solar, :observable_type=>@solar.class), :class=>'btn'
        #votes=render 'shared/favs'

%hr
.row
  .span12=render 'shared/comments', :commentable=>@solar