%h1 Info
%hr
%p This site is part of engineering project made by Jakub Jatczak at the Technical University of Lodz
%p Main purpose of this work is analitical comparison of web frameworks based on modern script languages - Ruby and Python
