body{
  padding-top:60px;
  padding-bottom: 10px;
}

.navbar .navbar-inner .container .nav .to_right{
  line-height: 41px;
  color:white;
}

.slider{
  margin-left:45px;
  width:870px;
}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}

.separator{
  margin: 0 10px
}