#footer
  .container
    .row
      .span7
        %p.muted.credit
          Created by
          =mail_to "157854@edu.p.lodz.pl", "Jakub Jatczak"
          %br
          Student of Computer Science
          %br
          At The Technical University of Lodz
          %br
          Faculty of Technical Physics, Computer Science and Applied Mathematics
          %br
          2013
      .span5
        %p.muted.credit
          This work was created as a part of engineering project 
          %br
          All rights belong to
          %br
          Technical University of Lodz
          %br
          =link_to "http://www.p.lodz.pl/", "http://www.p.lodz.pl/en/index.htm", :target=>"_blank"
          %br
          Source code availible on 
          =link_to "Github", "http://github.com/hirokiraj/stargaze-rails", :target=>"_blank"