.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "StarGaze", root_url, :class=>"brand"
      %ul.nav
        %li.active=link_to "Home", root_url
        %li=link_to "View sky", root_url
        %li=link_to "View solar system", root_url
        %li=link_to "Contact", root_url
