-if alert
  .alert.alert-error
    %strong=alert
    %button.close{"data-dismiss" => "alert", :type => "button"}
      &times;
-if notice
  .alert.alert-success
    %strong=notice
    %button.close{"data-dismiss" => "alert", :type => "button"}
      &times;